.info {
    border: 1px solid rgba(255, 255, 255, 0.836);
    color: #ebe2e2; 
    animation: fadeIn 1s ease-in-out;
    font-family: Kaisei Decol;
    max-height: 450px;
    width: 398px;
    background-color: rgba(19, 30, 44, 0.952);
    text-align: center;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
  }

  .info> form>button{
    font-family: Kaisei Decol;

    margin: 3%;
    width: 50px;
    height: 30px;
    background-color: rgba(49, 111, 211, 0.902);
    border: 1px solid rgba(255, 255, 255, 0.443);
    color: #d9d0d0;
    border-radius: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 1s;
  }

  .info> form>button:hover{
    background-color: rgba(26, 61, 117, 0.902);
    color: #fff4f4;
    border-radius: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.753);
  }

  .info> form>button:active{
    margin-top: 4%;
    background-color: rgba(14, 33, 62, 0.995);
  }

  .info form label,
.info form input {
  display: block;
  margin-bottom: 10px; /* Добавьте отступ между лейблами и инпутами */

  text-align: center;
  
}

.info> form>input{

max-width: 300px;
  width: 100%;
  height: 10%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 80%;
  

}