<nav>
    <a href=#
      ><img
        src="/assets/logo.png"
        alt=""
        style="height: 50px; margin-right: 50px"
    /></a>
    <div class="nav-row">
      <ul class="nav-list">
        <li class="nav-list__item">
            <a class="nav-list__link nav-list__link--active" routerLink="/doctor_start_page">APPOINTMENTS</a>
          </li>
          <li class="nav-list__item">
            <a  class="nav-list__link nav-list__link--active" routerLink="/patient-list">PATIENTS</a>
          </li>
         
      </ul>
    </div>
  </nav>
  
