<body>
  <app-nav-bar></app-nav-bar>

  <img
    src="/assets/Towards Healthy Horizons Together_ Your Health, Our Priority.png"
    alt=""
    class="img"
  />
  <div class="container">
    <img
      src="/assets/You are_.png"
      alt=""
      style="margin-top: 50px"
      class="you_are"
    />
    <div class="nav-row">
      <div>
        <input type="text" placeholder="username" name="username" />
      </div>
      <div>
        <input type="password" placeholder="password" name="password" />
      </div>
    </div>

    <a href="/doctor_start_page"><button><strong>LOGIN</strong></button></a>
  </div>
  <div class="nav-row">
    <ul class="nav-list__item__bottom">
      <a href=""><li>HELP</li></a>
      <a href=""><li>ABOUT</li></a>
      <a href=""><li>PRIVACY</li></a>
    </ul>
  </div>
</body>
