<body>
  <app-nav-bar></app-nav-bar>

  <img
    src="/assets/Towards Healthy Horizons Together_ Your Health, Our Priority.png"
    alt=""
    class="img"
  />
  <div class="container">
    <img
      src="/assets/You are_.png"
      alt=""
      style="margin-top: 50px"
      class="you_are"
    />
    <div class="nav-row">
      <ul class="nav-list">
        <a href="/login"
          ><li class="nav-list__item">
            <img src="/assets/DOCTOR.png" alt="" /></li
        ></a>
        <a href="/login"
          ><li class="nav-list__item">
            <img src="/assets/RECEPTIONIST.png" alt="" /></li
        ></a>
        <a href="/login"
          ><li class="nav-list__item"><img src="/assets/LABO.png" alt="" /></li
        ></a>
        <a href="/login"
          ><li class="nav-list__item">
            <img src="/assets/PHARMA.png" alt="" /></li
        ></a>
      </ul>
    </div>
  </div>
  <div class="nav-row">
    <ul class="nav-list__item__bottom">
      <a href=""><li>HELP</li></a>
      <a href=""><li>ABOUT</li></a>
      <a href=""><li>PRIVACY</li></a>
    </ul>
  </div>
</body>
